<h1><%= @project.title %></h1>


<p>

<% if current_user.role == 'nonprofit' %>
	<%= link_to "Edit", edit_project_path(@project) %>
<% end %>
<% if current_user.role == 'nonprofit' %>
	<%= link_to "Delete", @project, :method => :delete, :confirm => "Are you sure you want to delete this project? This action can not be undone." %>
<% end %>
<%= link_to "Back to Projects", projects_path %>
<p>

